<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07DC75261E55AA4800E2875F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DC753F1E55AA4800E2875F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DC754A1E55AA4800E2875F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
